<%= form_with(model: team, local: true, :html => {:class => "form-horizontal"}) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: "col-md-1 control-label"%>
    <div class="col-md-8">
      <%= form.text_field :name %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :name, "Player1:", class: "col-md-1 control-label" %>
    <div class="col-md-8">
      <%= form.select :player1_id, options_for_select(Player.all.map { |p| [p.name + " ["+p.employee_id.to_s+"]", p.id] })%>
      *(name [employee_id])
    </div>
  </div>

  <div class="form-group">
    <%= form.label :name, "Player2", class: "col-md-1 control-label" %>
    <div class="col-md-8">
      <%= form.select :player2_id, options_for_select(Player.all.map { |p| [p.name + " ["+p.employee_id.to_s+"]", p.id] })%>
      *(name [employee_id])
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
