<%= render 'layouts/navigation' %>
<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Player1</th>
      <th>Player2</th>
      <th>Score</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.player1.name %></td>
        <td><%= team.player2.name %></td>
        <td><%= team.score.to_i %></td>
        <td><%= link_to 'Team details', team %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
