<%= form_for(@player, url: player_index_path(@player), :html => {:class => "form-inline"}) do |f| %>

    <% if @player.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

          <ul>
            <% @player.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, "Name:", class: "col-md-4 control-label" %>
      <div class="col-md-8">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :name, "Employee_id:", class: "col-md-4 control-label" %>
      <div class="col-md-8">
        <%= f.text_field :employee_id, class: "form-control" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>