<table>
  <thead>
  <th>SNo.</th>
  <th>Player Name</th>
  <th>Employee Id</th>
  <th>Score</th>
  </thead><%@players.each_with_index do |player, index|%>
      <tr>
        <td><center><%=index+1%></center></td>
        <td><center><%=player.name%></center></td>
        <td><center><%=player.employee_id%></center></td>
        <td><center><%=player.score%></center></td>
      </tr>
  <%end%>
</table>
<%= will_paginate @players %>