<%= form_for(@team, url: team_index_path(@team), :html => {:class => "form-inline"}) do |f| %>

    <% if @team.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@team.errors.count, "error") %> prohibited this player from being saved:</h2>

          <ul>
            <% @team.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, "Name:", class: "col-md-4 control-label" %>
      <div class="col-md-8">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :name, "Player1:", class: "col-md-4 control-label" %>
      <div class="col-md-8">
        <%= f.select :player1_id, options_for_select(Player.all.map { |p| [p.name + "["+p.employee_id.to_s+"]", p.id] })%>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :name, "Player2", class: "col-md-4 control-label" %>
      <div class="col-md-8">
        <%= f.select :player2_id, options_for_select(Player.all.map { |p| [p.name + "["+p.employee_id.to_s+"]", p.id] })%>
      </div>
    </div>


    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>