<p id="notice"><%= notice %></p>

<h1>Nayyars</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nayyars.each do |nayyar| %>
      <tr>
        <td><%= nayyar.name %></td>
        <td><%= nayyar.age %></td>
        <td><%= link_to 'Show', nayyar %></td>
        <td><%= link_to 'Edit', edit_nayyar_path(nayyar) %></td>
        <td><%= link_to 'Destroy', nayyar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nayyar', new_nayyar_path %>
