<%= render 'layouts/navigation' %>
<p id="notice"><%= notice %></p>

<h1>Players</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Employee Id</th>
      <th>Score</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.employee_id %></td>
        <td><%= player.score.to_i %></td>
        <td><%= link_to 'Player details', player %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
