<%= render 'layouts/navigation' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>


<p>
  <strong>EmployeeId:</strong>
  <%= @player.employee_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @player.score.to_i %>
</p>

<%= link_to 'Back', players_path %>
