<%= form_with(model: match, local: true) do |form| %>

  <div class="form-group">
    <%= f.label :name, "Name:", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, "Team1:", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.select :team1_id, options_for_select(Team.all.map { |p| [p.name, p.id] })%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, "Team1 Score:", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :team1_score, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, "Team2", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.select :team2_id, options_for_select(Team.all.map { |p| [p.name, p.id] })%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, "Team2 Score:", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :team2_score, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
