<%= render 'layouts/navigation' %>
<p id="notice"><%= notice %></p>
<div class="container-fluid">
<h1>Matches</h1>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Match Name</th>
        <th>Team1</th>
        <th>Team2</th>
        <th>Winner Team</th>
        <th>Match Date</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @matches.each do |match| %>
        <tr>
          <td><%= match.name %></td>
          <td><%= match.team1.name %></td>
          <td><%= match.team2.name %></td>
          <td><%= ((match.team1_winner?) ? match.team1.name : match.team2.name) %></td>
          <td><%= match.created_at.to_date %></td>
          <td><%= link_to 'Match details', match %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Match', new_match_path %>
