<p id="notice"><%= notice %></p>

<p>
  <strong>Team1:</strong>
  <%= @match.team1_id %>
</p>

<p>
  <strong>Team2:</strong>
  <%= @match.team2_id %>
</p>

<p>
  <strong>Team1 winner:</strong>
  <%= @match.team1_winner %>
</p>

<%= link_to 'Back', matches_path %>
